In [1]:
c = 50
d = 10
a = 40
if (c > 45 && d < 56)
{
      if(a>5)
      {
          Statement 6;
          Statement 7;
      }
  Statement 1;
  Statement 2;
  Statement 3;
}

SyntaxError: invalid syntax (2188306030.py, line 4)

In [2]:
#1. Check if a number is positive or negative:
print("Start  of Program") # No indentation

num = 16
if num >= 0:
    print("Positive")
    print("Positive Number")
    print("Today is Sunday")
    print("Hi There")

else:
    print("Negative")
    print("Negative Number")
    print("Today is Holiday")

print("Hi There")

print("End of Program") # No indentation

Start  of Program
Positive
Positive Number
Today is Sunday
Hi There
Hi There
End of Program

In [ ]:
import sys
print(sys.version)

3.11.13 (main, Jun  4 2025, 08:57:29) [GCC 11.4.0]

In [ ]:
#2. Check if a number is even or odd:

num = 55
if num % 2 == 0:
	print("Even")
else:
	print("Odd")

Odd

In [ ]:
#3. Find the largest of two numbers:

a, b = 88, 131

if a > b:
  print("The number a is greater than b")
  print(f"The value of a = {a} and the value of b = {b}")
else:
  print("The number b is greater than a")
  print(f"The value of a = {a} and the value of b = {b}")

The number b is greater than a
The value of a = 88 and the value of b = 131

In [ ]:
#4. Check if a person is eligible to vote:

age = 15
if age >= 18:
	print("Eligible to vote")
else:
	print("Not eligible to vote")

Not eligible to vote

In [ ]:
#5. Check if a character is a vowel:

char = 'x'
if char in 'aeiouAEIOU':
	print("Vowel")
else:
	print("Consonant")

Consonant

In [ ]:
#6. Check if a number is divisible by 5:

num = 25
if num % 5 == 0:
	print("Divisible by 5")
else:
	print("Not divisible by 5")

Divisible by 5

In [ ]:
#7. Check if a year is a leap year:

year = 2000
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
	print("Leap year")
else:
	print("Not a leap year")

Leap year

In [ ]:
#8. Check if a string is a palindrome:

s = "radar"
if s[::1] == s[::-1]:
	print("Palindrome")
else:
	print("Not a palindrome")

Palindrome

In [ ]:
s = [1, 2, 3, 4, 5]
print(s[::-1])  # Output: [5, 4, 3, 2, 1]
print(s[::1])

s = ['r','a','d','a','r']
print(s[::-1])  # Output: [5, 4, 3, 2, 1]
print(s[::1])

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]
['r', 'a', 'd', 'a', 'r']
['r', 'a', 'd', 'a', 'r']

In [ ]:
#9. Find the smallest of three numbers:
num1 = int(input("Enter the first number: "))  #10
num2 = int(input("Enter the second number: "))  #20
num3 = int(input("Enter the third number: "))  #5

# Find the smallest number
smallest = num1  #smallest = 10
if num2 < smallest:  #20 < 10
    smallest = num2
if num3 < smallest:  #30 < 10 #True
    smallest = num3

# Print the smallest number
print("The smallest number is:", smallest)

Enter the first number: 30
Enter the second number: 20
Enter the third number: 10
The smallest number is: 10

In [ ]:
#diffrence between = & == & ===

# = ---> Assignment

a = 4
b = 40
c = "India"
# == ---> Comparison

if a == b:
  print("Equal")
else:
  print("Not Equal")

Not Equal

In Python, =, ==, and === are used for different purposes:

1. = (Assignment Operator):
    - Used to assign a value to a variable.
    - Example: x = 5 assigns the value 5 to the variable x.
2. == (Equality Operator):
    - Used to compare two values for equality.
    - Returns True if the values are equal, and False otherwise.
    - Example: x == 5 checks if the value of x is equal to 5.
3. === (Not available in Python):
    - This operator is not available in Python. It's commonly used in other languages like JavaScript for strict equality checking (i.e., checking both value and data type).

In Python, the == operator is sufficient for equality checking, and it's not necessary to use === like in other languages.

Here's a summary:

- =: Assign a value to a variable.
- ==: Check if two values are equal.

Example code:

x = 5  # assignment
print(x == 5)  # equality check, returns True
print(x == 3)  # equality check, returns False

In [ ]:
a,b,c = 1,20,3

if a>b and a>c:
  print("a is the greatest")
elif b>a and b>c:
  print("b is the greatest")
elif a==1:
  print("b is the greatest")
else:
  print("c is the greatest")

b is the greatest

In [ ]:
# Truth Table for OR

# A	B	A or B
# True	True	True
# True	False	True
# False	True	True
# False	False	False

In [ ]:
#10. Check if a number is within a range:

num = 55
if 10 <= num <= 100:
	print("Within range")
else:
	print("Out of range")

Within range

In [ ]:
#11. Check if a list is empty:

lst = []
if not lst:
	print("List is empty")
else:
	print("List is not empty")

List is empty

In [ ]:
lst = 0, 0
print(lst, type(lst))
if not lst:
  print("Empty")
else:
  print("Not empty")

(0, 0) <class 'tuple'>
Not empty

In [ ]:
#12. Check if a number is a multiple of both 3 and 7:

num = 21
if num % 3 == 0 and num % 7 == 0:
	print("Multiple of both 3 and 7")
else:
	print("Not a multiple of both 3 and 7")

Multiple of both 3 and 7

In [ ]:
#13. Check if two strings are anagrams:
# 1. Listen - Silent
# 2. Acts - Cats
# 3. Weird - Wired
# 4. Smile - Limes
# 5. Tea - Eat

#  - Heart - Earth
# - Elvis - Lives
# - Teams - Meats
# - Cider - Cried


str1, str2 = "lisTen", "Silent"
if sorted(str1.lower()) == sorted(str2.lower()):
  print("Anagrams")
  print(sorted(str1.lower()))
  print(str2.lower())
else:
  print("Not anagrams")



str1, str2 = "lisTen", "Silent"
if sorted(str1) == sorted(str2):
	print("Anagrams")
else:
	print("Not anagrams")

Anagrams
['e', 'i', 'l', 'n', 's', 't']
silent
Not anagrams

In [ ]:
#14. Check if a number is prime:

num = 310
if num > 1:
	for i in range(2, num):
		if num % i == 0:
			print("Not prime num")
			break
	else:
		print("Prime")
else:
	print("Not prime")

Not prime num

In [ ]:
#15. Find the grade based on marks:

marks = 90
if marks >= 90:
	grade = 'A'
elif marks >= 80:
	grade = 'B'
elif marks >= 70:
	grade = 'C'
elif marks >= 60:
	grade = 'D'
else:
	grade = 'F'

print("Loop Exits.")
print("Grade:", grade)

Loop Exits.
Grade: D

In [ ]:
#16. Check if a year is in the 21st century:

year = 2024
if 2001 <= year <= 2100:
	print("21st century")
else:
	print("Not 21st century")

In [ ]:
#17. Check if a string contains only digits:

s = "12345"
if s.isdigit():
	print("Contains only digits")
else:
	print("Contains other characters")

Contains only digits

In [ ]:
x = 2
if x == 1:
    print("One")

elif x == 2:
    print("Two")
elif x == 3:
    print("Three")
else:
    print("Something else")

Two

In [ ]:
# Match-case statement
x = 440
match x:
    case 1:
      print("One")
    case 2:
        print("Two")
    case 3:
        print("Three")
    case 44:
        print("Case # 44")
    case _:
        print("Something else")

Something else